{% extends "layout.html" %}

{% block title %}
    Welcome to Project 1
{% endblock %}

{% block body %}
    {% if session.user_id %}
        <h3>Search for a book!</h3>
        <form action="/search" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" name="book" autofocus aria-describedby="bookHelp" placeholder="ISBN, Title or Author">
                <small id="bookHelp" class="form-text text-muted">Example: 0375508325, Cosmos or Carl Sagan</small>
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    {% else %}
        <h3>Please login to use the Search function</h3>
    {% endif %}
{% endblock %}